/* teblets & smaller */
@media (max-width: 800px) {
  header {
    height: 5rem;
  }

  header h2 {
    padding: 1rem;
  }

  .container {
    margin: 0 5rem;
    }

    main {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  footer {
    height: 1rem;
  }
}

/* samrtphones */
@media (max-width: 500px) {
    header {
    height: 3rem;
  }

  header h2 {
    padding: 0.5rem;
  }

  .container {
    margin: 0 1.5rem;
}

    main {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  footer {
    height: 0.5rem;
  }
}